<header>
  <div class="teacher_header_container">
    <div class="">
      <div class="teacher_header_bg">
        <img src="/teacher/teacher_top.jpg" class="w-100" alt="top1">
        <h3>日本語を教えてみませんか？</h3>
        <div class="teacher_header_text">
          <h5>こんな方を募集しています</h5>
          <h5>✔︎ 日本語学校などで講師経験がある</h5>
          <h5>✔︎ 日本に10年以上滞在、3年以上の勤務経験</h5>
          <h5>✔︎ TOEIC750以上　・・・etc</h5>
        </div>
        <div class="header_image_button">
          <button type="button" class="btn1 btn btn-danger btn-lg px-4">新規登録してみる</button>
        </div>
      </div>
    </div>
  </div>
</header>

<hr class="my-5 mx-5">

<main>
  <section class="py-5" id="teacher_features">
    <div class="teacher_features_container">
      <div class="teacher_features_top_text">
        <h3 class="mb-5">なぜNIHONGO CHAT?</h3>
      </div>
      <div class="teacher_features_cards card-deck">
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="far fa-calendar-check fa-2x mb-5"></i>
              <h5 class="ml-4">ご自分の都合が<br>
                いいときに好きなだけ</h5>
            </div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="fas fa-globe-asia fa-2x mb-5"></i>
              <h5 class="ml-4">オンラインだから<br>
                世界中どこでも</h5>
            </div>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="fas fa-hand-holding-heart fa-2x mb-5"></i>
              <h5 class="ml-4">安心のサポート</h5>
            </div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="teacher_features_btm_text">
    <h4 class="py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</h4>
  </div>
  
</main>