<header>
  <div class="teacher_header_container">
    <div class="">
      <div class="teacher_header_bg">
        <img src="/teacher/teacher_top.jpg" class="w-100" alt="top1">
        <h3>日本語を教えてみませんか？</h3>
        <div class="teacher_header_text">
          <h5>こんな方を募集しています</h5>
          <h5>✔︎ 日本語学校などで講師経験がある</h5>
          <h5>✔︎ 日本に10年以上滞在、3年以上の勤務経験</h5>
          <h5>✔︎ TOEIC750以上　・・・etc</h5>
        </div>
        <div class="header_image_button">
          <button type="button" class="btn1 btn btn-danger btn-lg px-4">新規登録してみる</button>
        </div>
      </div>
    </div>
  </div>
</header>