<section class="signup">
  <div class="signup_container">
    <div class="signup_title">
      <h1>BC Company Signup form</h1>
    </div>
    <form class="signup_box">
      <input type="text" placeholder="Full name" style="width: 70%;" /><br />
      <input type="tel" placeholder="Phone number" style="width: 70%;" /><br />
      <input type="text" placeholder="Email adress" style="width: 70%;" /><br />
      <input type="password" placeholder="Password" style="width: 70%;" /><br />
      <input
        type="password"
        placeholder="Confirm your password"
        style="width: 70%;"
      /><br />
      <input type="checkbox" />&nbsp;Do you agee to this term and
      condition?&nbsp;&nbsp;<a href="#">More details.</a><br />
      <button>Sign in</button>
    </form>
  </div>
</section>
