<h1>User mypage margin-top 104px</h1>
<sectioniv class="student_mypage">
    <div class="student_mypage_container">
        <section class="student_mypage_top">
            <div class="profile">
                <div class="profile_left">
                    <img src="/student_default.png" alt="">
                    <!-- <img src="/students/#{@user.user_image}" alt=""> -->
                </div>
                <div class="profile_right">
                    <p>Sally</p>
                    <%= link_to("Edit profile", "#")%>
                </div>        
            </div>
            <div class="lessons">
                <i class="fas fa-graduation-cap"></i>
                <p>25</p>
                <p>Lessons you took</p>
            </div>
            <div class="coins">
                <i class="fas fa-coins"></i>
                <p>52</p>
                <p>Coins you have</p>
            </div>
        </section>
        <section class="question">
            <div class="question_container">
                <i class="fas fa-question"></i>
                <p>If you have any questions, please feel free to contact us.</p>
            </div>
        </section>
        <section class="message">
            <div class="message_container">
                <div class="message_box">
                    <p>You don’t have lessons yet.</p>
                    <p>To take a lesson, click find teacher to find your teacher.</p>
                    <p>Do you have any difficulty?</p>
                    <p>Conttact us from contactfrom.</p>
                    <p>Don’t know how to use?</p>
                    <p>Check how to use page.</p>     
                </div>
            </div>
        </section>
    </div>
</section class="">