<div class="header"></div>

<section class="teacher_search">
  <div class="teacher_search_container">
    <section class="teacher_search_searchbox">
      <div class="searchbox_top">
        <h3 class="mb-3">TEACHER INDEX & SEARCH</h3>
        <p>
          NIHONGOの講師は全世界に在住する、日本人講師や日本語ネイティブ講師など様々です！
        </p>
        <p>
          あなたのご希望に合わせて検索し、講師をお選びください。
        </p>
      </div>
      <div class="searchbox">
        <div class="searchbox_tag">
          <p class="mb-3">Search from Tag</p>
          <button type="button" class="btn btn-danger mb-2">
            日本国籍 / Japanese
          </button>
          <button type="button" class="btn btn-danger mb-2">
            日本国籍以外 / Non Japanese
          </button>
          <br />
          <button type="button" class="btn btn-primary mb-2">
            旅行/ Travel
          </button>
          <button type="button" class="btn btn-primary mb-2">
            日常会話 / General Communication
          </button>
          <button type="button" class="btn btn-primary mb-2">
            ビジネス / Business
          </button>
          <br />
          <button type="button" class="btn btn-success mb-5">
            5コイン以下 / Less than 5 coins
          </button>
          <button type="button" class="btn btn-success mb-5">
            キッズ / Kids
          </button>
          <button type="button" class="btn btn-success mb-5">
            無料体験あり / Free Trial
          </button>
        </div>
        <div class="searchbox_teachername">
          <input type="text" placeholder="Search from Teacher’s name" />
          <a href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </section>
    <section class="teacher_search_teachers">
      <div class="teacher">
        <img src="/teacher_photo_sample.png" alt="" />
        <h3>Salle Wakasa</h3>
        <p>Nationality: Japan</p>
        <p>Living country: Britain</p>
        <p>Coins: 6</p>
        <p>About myself</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam,
        </p>
        <hr />
        <div class="teacher_tag">
          <button type="button" class="btn btn-danger">
            日本国籍 / Japanese
          </button>
          <button type="button" class="btn btn-primary">
            日常会話 / General Communication
          </button>
          <button type="button" class="btn btn-success">
            無料体験あり / Free Trial
          </button>
        </div>
      </div>
    </section>
  </div>
</section>
