<header>
  <div class="teacher_header_container">
    <div class="">
      <div class="teacher_header_bg">
        <img src="/teacher/teacher_top.jpg" class="w-100" alt="top1" />
        <h3>日本語を教えてみませんか？</h3>
        <div class="teacher_header_text">
          <h5>こんな方を募集しています</h5>
          <h5>✔︎ 日本語学校などで講師経験がある</h5>
          <h5>✔︎ 日本に10年以上滞在、3年以上の勤務経験</h5>
          <h5>✔︎ TOEIC750以上　・・・etc</h5>
        </div>
        <div class="header_image_button">
          <%= link_to("/signup") do %>
          <button class="btn1 btn btn-danger btn-lg px-4">
            新規登録してみる
          </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<hr class="my-5 mx-5" />

<main>
  <section class="py-5" id="teacher_features">
    <div class="teacher_features_container">
      <div class="teacher_features_top_text">
        <h3 class="mb-5">なぜNIHONGO CHAT?</h3>
      </div>
      <div class="teacher_features_cards card-deck">
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="far fa-calendar-check fa-2x mb-5"></i>
              <h5 class="ml-4">
                ご自分の都合が<br />
                いいときに好きなだけ
              </h5>
            </div>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="fas fa-globe-asia fa-2x mb-5"></i>
              <h5 class="ml-4">
                オンラインだから<br />
                世界中どこでも
              </h5>
            </div>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body px-4 py-5">
            <div class="card-title">
              <i class="fas fa-hand-holding-heart fa-2x mb-5"></i>
              <h5 class="ml-4">安心のサポート</h5>
            </div>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="teacher_features_btm_text">
    <h4 class="py-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h4>
  </div>

  <section id="teacher" class="pb-5">
    <div class="teacher_top py-3 section_top">
      <i class="fas fa-pencil-alt fa-2x mb-2"></i>
      <h5>OUR TEACHERS</h5>
    </div>
    <span class="teacher_span"></span>
    <div class="teacher_container"></div>
  </section>

  <section id="howtouse" class="pb-5">
    <div class="howtouse_top py-3 section_top">
      <i class="fas fa-seedling fa-2x mb-2"></i>
      <h5>HOW TO USE</h5>
    </div>
    <span class="teacher_span"></span>
    <div class="howtouse_container">
      <div class="howtouse_steps py-5">
        <div class="step step1 py-4 px-5 my-3">
          <h4 class="mb-3">Step 1</h4>
          <div class="step_title mb-2">
            <i class="far fa-edit fa-2x"></i>
            <h3 class="ml-3">かんたん先生登録</h3>
          </div>
          <h6 class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
          </h6>
        </div>

        <div class="step step2 py-4 px-5 my-3">
          <h4 class="mb-3">Step 2</h4>
          <div class="step_title mb-2">
            <i class="far fa-paper-plane fa-2x"></i>
            <h3 class="ml-3">生徒とメッセージ</h3>
          </div>
          <h6 class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
          </h6>
        </div>

        <div class="step step3 py-4 px-5 my-3">
          <h4 class="mb-3">Step 3</h4>
          <div class="step_title mb-2">
            <i class="fas fa-headset fa-2x"></i>
            <h3 class="ml-3">Skyoeでオンラインレッスン</h3>
          </div>
          <h6 class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
          </h6>
        </div>

        <div class="step step4 py-4 px-5 my-3">
          <h4 class="mb-3">Step 4</h4>
          <div class="step_title mb-2">
            <i class="fas fa-hand-holding-usd fa-2x"></i>
            <h3 class="ml-3">料金（コイン）の受け取り</h3>
          </div>
          <h6 class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
          </h6>
        </div>

        <div class="howtouse_question my-5">
          <h2 class="mb-4">Got any question?</h2>
          <h6>
            Send us a message via the chat or contact us via the inquiry
            <strong style="color: red">form</strong>.
          </h6>
        </div>
      </div>
    </div>
  </section>

  <section class="topWrapper2" id="top_faq">
    <div class="topWrapper2Content">
      <div class="heading">
        <h1>FAQ</h1>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">レッスン料金はいくらですか？</h3>
            <div class="slidedown">+</div>
            <div class="answer">
              <p>
                オンライン先生によって異なります。1コインはおよそ200円程度となります。生徒登録の後、コインを購入してレッスンをお受けください。
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">支払い手段は何がありますか？</h3>
            <div class="slidedown">+</div>
            <div class="answer">
              <p>
                クレジットまたは銀行振込でのお支払いとなります。お客様のクレジットカード情報は弊社のサーバー内には保存せず国内最大手の決済代行会社(GMOペイメントゲートウェイ株式会社)にて厳重に管理されます。
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">消費コインって何ですか？</h3>
            <div class="slidedown">+</div>
            <div class="answer">
              <p>
                消費コインは本サイト内でのみご利用頂けるコインになります。本サイト内でコインを購入の上、先生側へのレッスン料金のお支払いにご利用頂けます。
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">先生とのチャットは無料ですか？</h3>
            <div class="slidedown">+</div>
            <div class="answer">
              <p>
                先生とのチャットは無料で行えます。納得いくまで自分にあった先生をお探し頂けます。先生とのskypeレッスンには消費コインが必要となります。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="py-5" id="teacher_info">
    <div class="teacher_info_container">
      <img src="/kimono.jpg" class="w-100" alt="top1" />
      <div class="teacher_info_text">
        <h3>まずは無料先生登録から</h3>
      </div>
      <div class="teacher_info_btn">
        <%= link_to("/signup") do %>
        <button class="btn1 btn btn-danger btn-lg px-4">
          新規登録してみる
        </button>
        <% end %>
      </div>
    </div>
  </section>
</main>
