<header>
  <div class="header_container">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active header_bg">
          <img src="/student_top_1.jpg" class="w-100" alt="...">
          <h3>Do you want to speak Japanese?</h3>
        </div>
        <div class="carousel-item header_bg">
          <img src="/sushiresto.jpg" class="w-100" alt="...">
          <h3>Do you want to speak Japanese?</h3>
        </div>
        <div class="carousel-item header_bg">
          <img src="/kimono.jpg" class="w-100" alt="...">
          <h3>Do you want to speak Japanese?</h3>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <section class="header_info">
    <div class="header_info_container">
      <h2>先生募集中</h2>
      <div>
        <p>あなたの特技を活かしてみませんか？</p>
        <p>あなたの特技を活かしてみませんか？</p>
        <p>あなたの特技を活かしてみませんか？</p>
      </div>
      <a href="#" class="btn btn-outline-dark">もっと詳しく</a>
    </div>
  </section>
</header>

<main>
  <section class="btw_main_space">
    <hr>
  </section>
  <section class="about">
    <div class="about_container">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</h3>
      <div class="about_features">
        <div class="about_feature_1">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <div class="about_feature_2">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <div class="about_feature_3">
          <div class="left"></div>
          <div class="right"></div>
        </div>
      </div>
    </div>
  </section>

</main>