// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  .header_container {
    .header_bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      height: 680px;

      h3 {
        // font-family: open sans, Helvetica, Arial, sans-serif;
        font-family: "Heiti TC";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 5px;
        color: #fff;
        text-align: center;
      }
    }
    .header_bg::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .header_info {
    background: linear-gradient(-45deg, #d13d45 0%, #e61b1b 100%);
    width: 100%;

    .header_info_container {
      display: flex;
      justify-content: space-around;
      height: 120px;
      align-items: center;
    }
  }
}

main {
  .btw_header_space {
    height: 120px;
    hr {
      margin: 60px;
    }
  }
}
