// Place all the styles related to the teacher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  .teacher_header_container {
    .teacher_header_bg {
      img {
        height: 660px;
        object-fit: cover;
      }
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      height: 660px;

      .teacher_header_text {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);

        h5 {
          font-family: "Heiti TC";
          letter-spacing: 5px;
          color: #fff;
          font-weight: lighter;
          text-align: center;
        }
      }

      h3 {
        font-family: "Heiti TC";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 7px;
        color: #fff;
        text-align: center;
      }

      .header_image_button {
        font-family: "Heiti TC";
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 5px;
      }
    }
    .teacher_header_bg::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

main {
  #teacher_features {
    background-color: #e4e4e4;
    .teacher_features_container {
      width: 80%;
      margin: 3% auto;
      .teacher_features_top_text {
        text-align: center;
      }
      .teacher_features_cards {
        .card-title {
          display: flex;
        }
      }
    }
  }
  .teacher_features_btm_text {
    background-image: url("/washi_background_red.jpg");
    background-repeat: no-repeat;
    h4 {
      color: #fff;
      font-family: "Heiti TC";
      width: 80%;
      margin: 0 auto;
    }
  }

  #top_faq {
    background-color: #e4e4e4;
    width: 100%;
    height: auto;
    .topWrapper2Content {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .faq {
      padding-top: 30px;
    }
    #faq-list {
      width: 650px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }
    .faq-list-item {
      margin: 50px;
      border-bottom: 1px solid #000;
      position: relative;
      cursor: pointer;
      text-align: left;
    }
    .faq-list-item h3 {
      font-size: 20px;
    }

    .slidedown {
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 13px;
    }
    .answer {
      font-size: 16px;
      padding: 5px 0px;
      margin-bottom: 15px;
      display: none;
    }
  }

  #teacher_info {
    .teacher_info_container {
      img {
        height: 660px;
        object-fit: cover;
      }
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      height: 660px;

      .teacher_info_text {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .teacher_info_btn {
        font-family: "Heiti TC";
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 5px;
      }
    }
    .teacher_info_container::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
